<div class="mb-5">
  <h1 id="index-title" class="text-center">BOOKINGS</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3 col-lg-3">
      <div>
        <%= cl_image_tag current_user.avatar.key, height: 300, width: 300 %>
        <p><%= @current_user.username.capitalize %></p>
        <p>Books lent</p>
        <p>My rentals</p>
        <p>My bookings</p>
      </div>
    </div>
    <div class="col-sm-9 col-lg-9">
      <ul style="list-style-type: none">
      <% @bookings.each do |booking| %>
        <div>
        <li><strong>Book: <%= booking.book.title %></strong></li>
        <li>Lent by: <%= booking.book.owner.username %> </li>
        <li class="card-text">Rented by: <%= current_user.username.capitalize %> </li>
        <br>
        <li class="card-title"><strong>Start date: <%= booking.start_date %></strong></li>
        <li class="card-title"><strong>End date: <%= booking.end_date %></strong></li>
        </div>
      <% end %>
      </ul>
    </div>
  </div>


</div>

