<div class="container form">
  <h4 style="font-family: Nunito" class="form-title">Update Book</h4>
  <br>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-md-offset-3">
      <%= simple_form_for (@book) do |f| %>
        <%= f.input :title, :input_html => { :class => 'filler' } %>

        <%= f.input :author, :input_html => { :class => 'filler' } %>

        <%= f.input :year, :input_html => { :class => 'filler' } %>

        <%= f.input :description, :input_html => { :class => 'filler' } %>

        <%= f.input :condition, collection: ['new', 'used', 'damaged', 'highly damaged'], :input_html => { :class => 'filler' }  %>

        <%= f.input :price, :input_html => { :class => 'filler' } %>

        <%= f.input :photo, as: :file, :input_html => { :class => 'filler' }%>
        <br>
        <%= f.submit "Save changes", class: "btn btn-success mb-5"  %>
      <% end %>
    </div>
  </div>
</div>
