<div class="mb-5">
  <h1 id="index-title" class="text-center">BOOKS</h1>
</div>
<div class="container">
  <ul style="list-style-type: none">
    <% @books.each do |book| %>
      <li>
        <div class="card-product">
          <div class="card-product-infos">
            <h2><%= link_to book.title, book_path(book) %></h2>
            <p>Year of publishing: <%= book.year %></p>
            <p>Author: <%= book.author %></p>
            <p>Condition: <%= book.condition %></p>
            <p>Sinopsis: <%= book.description %></p>
            <p><%= book.price %>$</p>
            <i class="fas fa-book-open text-right"></i>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= link_to "Lend a new book", new_book_path%>
</div>
