<div class="container">
  <div>
    <h1 id="index-title">BOOKS</h1>
  </div>
  <div class="justify-content-right">
    <button class="btn btn-success"><i class="fas fa-bookmark"></i><%= link_to "Lend a new book", new_book_path%></button>
  </div>

  <div class="row row-cols-3">
  <% @books.each do |book| %>
    <div class="col-sm-6 col-lg-3">
      <div class="parent card-product">
         <% if book.photo.attached? %>
          <%= cl_image_tag book.photo.key %>
         <% else %>
          <%= image_tag "books.png" %>
         <% end %>
          <% if current_user != book.owner %>
            <% if book.booked? %>
              <p class="child-booked text-center badge badge-info text-wrap" style="width: 5rem;">Currently booked</p>
            <% else %>
              <p class="child-rental-available text-center badge badge-success text-wrap" style="width: 4rem;">Available for rental</p>
            <% end %>
          <% else %>
            <p class="child-rental-available text-center badge badge-primary text-wrap" style="width: 4rem;">Your book</p>
          <% end %>
          <div class="card-product-infos">
            <h2><%= link_to book.title, book_path(book) %></h2>
            <p><%= "#{book.author} | #{book.year}" %></p>
            <p>Price: <%= book.price %>$</p>
          </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
