<div class="mb-5">
  <h1 id="index-title" class="text-center">BOOKS</h1>
</div>
<div class="container">
  <div class="d-flex">
    <div class="col-12 col-lg-12">
      <% @books.each do |book| %>
        <div class="card-product">
          <% if current_user != book.owner %>
            <p class="text-center badge badge-info text-wrap" style="width: 4rem;"><%= link_to "RENT BOOK", new_book_booking_path(book.id) %></p>
          <% end %>
          <div class="card-product-infos">
            <h2><%= link_to book.title, book_path(book) %></h2>
            <p>Publishing year: <%= book.year %></p>
            <p>Author: <%= book.author %></p>
            <p>Price: <%= book.price %>$</p>
            <i class="fas fa-book-open text-right"></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= link_to "Lend a new book", new_book_path%>
</div>
