<div class="mb-5">
  <h1 id="index-title" class="text-center">BOOKS</h1>
</div>
<div class="container">
  <button class="btn btn-success m-5"><%= link_to "Lend a new book", new_book_path%></button>
  <div class="d-flex">
    <div class="col-12 col-lg-12">
      <% @books.each do |book| %>
        <div class="parent card-product col-4">
          <% if current_user != book.owner %>
            <p class="child text-center badge badge-info text-wrap" style="width: 4rem;">Book available for rental</p>
          <% else %>
            <p>This book belongs to you</p>
          <% end %>
          <div class="card-product-infos">
            <h2><%= link_to book.title, book_path(book) %></h2>
            <p>Publishing year: <%= book.year %></p>
            <p>Author: <%= book.author %></p>
            <p>Price: <%= book.price %>$</p>
            <i class="fas fa-book-open text-right"></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
