<div class="mb-5">
  <h1 id="index-title" class="text-center">BOOKS</h1>
</div>
<div class="container">
  <ul style="list-style-type: none">
    <% @books.each do |book| %>
      <li>
        <div class="card-product">
          <div class="card-product-infos">
            <h2><%= link_to book.title, book_path(book) %></h2>
            <p>Publishing year: <%= book.year %></p>
            <p>Author: <%= book.author %></p>
            <p>Condition: <%= book.condition %></p>
            <p>Synopsis: <%= book.description %></p>
            <p>Price: <%= book.price %>$</p>
            <p>Owner: <%= book.owner.username %></p>
            <i class="fas fa-book-open text-right"></i>
          </div>
          <% if current_user != book.owner %>
            <p><%= link_to "rent book", new_book_booking_path(book.id) %></p>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= link_to "Lend a new book", new_book_path%>
</div>
