<div class="mb-5">
  <h1 id="index-title" class="text-center"></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3 col-lg-3">
      <div class="pr-5 mr-5">
        <div class="pl-3">
          <%  if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, class: "profile-pic-bookings" %>
          <% else %>
            <%= image_tag "logo.png", class: "profile-pic-bookings" %>
          <% end %>
        </div>
        <br>
        <p class="pb-3"><strong><%= @current_user.username.capitalize %>'s profile</strong></p>
        <p>Books lent</p>
        <p>My bookings</p>
      </div>
    </div>
    <div class="col-sm-9 col-lg-9">
      <% @books.each do |book| %>
        <div class="card-profile-box p-5 parent mb-5 ml-5">
          <div class="pl-5 pt-3 justify-content-right">
          <p class="mb-0">My book</p>
          <p id="bookings-card-title"><%= book.title %></p>
          <br>
          <p><strong>Price $<%= booking.book.price %></strong></p>
          </div>
          <%= image_tag "books.png", class: "child-bookings-book-img" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

