<div class="container">
  <div class="row justify-content-center mb-3 ">
    <div class="col-12 col-lg-8">
        <p class="font-weight-bold p-4">Lend a book</p>
        <%= simple_form_for(@book) do |f| %>
          <%= f.input :title %>
          <%= f.input :year %>
          <%= f.input :author %>
          <%= f.input :description, as: :text %>
          <%= f.input :price %>
          <%= f.input :condition %>
          <%= f.button :submit, "Ready", class: "btn-flat" %>
        <% end %>
    </div>
  </div>
</div>

