<div class="container">
  <h1 id="title-table"><%= @book.title %></h1>
  <br>
  <h6>
    <% if policy(@book).edit? %>
      <%= link_to "Update", edit_book_path(@book) %>
    <% end %>
  </h6>
  <h6>
    <% if policy(@book).destroy? %>
      <%= link_to book_path(@book), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-trash destroy_book"></i>
      <% end %>
    <% end %>
  </h6>
  <div id="inner-card">
    <div id="container-contents">
      <h4>Owner</h4>
      <%= @book.owner.username %>
      <h5>Description</h5>
      <%= @book.description %>
      <h5>Year</h5>
      <%= @book.year %>
      <h5>Condition</h5>
      <%= @book.condition %>
      <h5>Author</h5>
      <%= @book.author %>
      <h5>Price</h5>
      <%= @book.price %>
    </div>
    <div id="container-image">
      <% if @book.photo.attached? %>
        <%= cl_image_tag @book.photo.key %>
      <% else %>
        <%= image_tag "pile.png" %>
      <% end %>
    </div>
  </div>
  <br>

</div>
  <div id="button_from_show">
    <button class="btn-flat btn-flat:hover">
    <%= link_to "See all books", books_path %>
    </button>
    <% if current_user != @book.owner %>
      <button class="btn-flat btn-flat:hover">
        <%= link_to "Rent book", new_book_booking_path(@book.id) %>
      </button>
    <% else %>
      <p>this book belongs to you</p>
    <% end %>
  </div>
  <br>
<div class="badge badge-success text-wrap" style="width: 4rem;">
   <h6 class="text-center">
    <% if policy(@book).edit? %>
      <%= link_to "Update", edit_book_path(@book) %>
    <% end %>
  </h6>
</div>
<h6>
  <% if policy(@book).destroy? %>
    <%= link_to book_path(@book), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash destroy_book"></i>
    <% end %>
  <% end %>
</h6>
