<div class="container">
  <h1 id="title-table"><%= @book.title %></h1>
  <h6>
    <% if policy(@book).edit? %>
      <%= link_to "Update", edit_book_path(@book) %>
    <% end %>
  </h6>
  <h6>
    <% if policy(@book).destroy? %>
      <%= link_to book_path(@book), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-trash destroy_book"></i>
      <% end %>
    <% end %>
  </h6>
  <div class="row" id="table-contents">
    <div class="col-sm-12 col-md-6 col-lg-12">
      <table class="table table-bordered table table-borderless table-light">
        <tbody>
          <thead class="thead-dark">
            <th>Title</th>
            <th>Description</th>
            <th>Year</th>
            <th>Condition</th>
            <th>Price</th>
            <th>Author</th>
            <th>Owner</th>
          </thead>
          <td>
            <%= @book.title %>
          </td>
          <td>
            <%= @book.description %>
          </td>
          <td>
            <%= @book.year %>
          </td>
          <td>
            <%= @book.condition %>
          </td>
          <td>
            <%= @book.price %>
          </td>
          <td>
            <%= @book.author %>
          </td>
          <td>
            <%= @book.owner.username %>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>

  <div id="button_from_show">
    <button class="btn-flat btn-flat:hover">
    <%= link_to "See all books", books_path %>
    </button>
    <button class="btn-flat btn-flat:hover">
    <%= link_to "Rent book", new_book_booking_path(@book.id) %>
    </button>
  </div>
  <br>
<div class="badge badge-success text-wrap" style="width: 4rem;">
   <h6 class="text-center">
    <% if policy(@book).edit? %>
      <%= link_to "Update", edit_book_path(@book) %>
    <% end %>
  </h6>
</div>
<h6>
  <% if policy(@book).destroy? %>
    <%= link_to book_path(@book), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash destroy_book"></i>
    <% end %>
  <% end %>
</h6>



